* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: #181818;
  font-family: "Roboto", sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #7a7a7a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  background-color: rgb(32, 32, 32, 0.8);
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #373737;
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.navbar-icon {
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}
.zeetube {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  margin-left: 22px;
}
.search-container {
  width: 500px;
  border: 1px solid #373737;
  height: 100%;
  background-color: #121212;
  display: flex;
}
.search-input {
  margin-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  flex: 2;
}
.search-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-size: 1.3rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #323232;
  color: #fff;
}
.signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: transparent;
  padding: 5px 10px;
  border: 1px solid #3a99e9;
  color: #3a99e9;
  font-size: 0.7rem;
}
.signin-logo {
  font-size: 1.2rem;
}
.main-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.sidebar {
  position: relative;
  width: 70px;
  background-color: #212121;
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 50px;
}
.content {
  width: 100%;
  height: 100%;
  overflow: none;
  display: flex;
}
.main-content {
  width: 100%;
  height: 100%;
  padding: 60px 10px 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 5px;
  cursor: pointer;
  color: #fff;
  gap: 5px;
}
.sidebar-list:hover {
  background-color: #383838;
}
.sidebar-list span {
  font-size: 0.6rem;
}
.sidebar-logo {
  font-size: 1.2rem;
}
.sidebar-big-container {
  position: relative;
  width: 70px;
  top: 50px;
  height: calc(100% - 50px);
  display: flex;
}
.sidebar-big {
  position: fixed;
  width: 270px;
  background-color: #212121;
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  top: 50px;
  z-index: 10;
  animation: openSidebar 0.5s ease forwards;
}
.sidebar-close {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
  margin: 0 auto;
  row-gap: 30px;
  column-gap: 10px;
  justify-content: center;
}
.card {
  cursor: pointer;
  width: 100%;
}
.card.hover:hover {
  transform: scale(1.2);
  transition: all 0.2s 1.2s linear;
  z-index: 10;
  position: relative;
  background-color: #202020;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.image-container {
  width: 100%;
  height: 165px;
  position: relative;
}
.image-container:hover:after {
  content: "Keep Hovering to Play (Still On Implementation)";
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  font-size: 0.6rem;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 4px;
}
.duration-card {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  font-size: 0.6rem;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 4px;
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-info {
  padding: 5px;
  margin-top: 8px;
  display: flex;
  gap: 10px;
}
.card-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #292929;
}
.card-user-info {
  display: flex;
  flex-direction: column;
}
.card-title {
  color: #fff;
  font-weight: 600;
  font-size: 0.75rem;
}
.card-username {
  margin-top: 5px;
  color: #858585;
  font-size: 0.7rem;
  display: flex;
  gap: 2px;
  align-items: center;
}
.card-stats,
.video-stats {
  color: #858585;
  font-size: 0.7rem;
  display: flex;
  gap: 3px;
  align-items: center;
}
.video-content {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(11, minmax(0, 1fr));
  gap: 10px;
}
.media-section {
  grid-column: span 8 / span 8;
  height: 100%;
}
.recommendation-section {
  grid-column: span 3 / span 3;
  height: 100%;
}
.main-video {
  width: 100%;
  height: 65vh;
}
.video-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-title {
  margin-top: 15px;
  color: #fff;
  font-weight: 600;
}
.video-creator {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.video-creator-info {
  display: flex;
  gap: 5px;
}
.video-user-stats {
  color: #858585;
  font-size: 0.7rem;
  display: flex;
  gap: 2px;
  align-content: space-between;
  flex-direction: column;
}
.video-user-stats.info {
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 2px;
  flex-direction: row;
}
.subscribe-button {
  padding: 4px 8px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: #cc0000;
}
.video-creator-interactive {
  display: flex;
  gap: 15px;
}
.video-interact-button {
  display: flex;
  height: 100%;
  gap: 2px;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
}
.thumb-main {
  cursor: pointer;
  font-size: 1.1rem;
  fill: #fff;
}
.video-desc {
  margin: 15px 0;
  color: #fff;
  font-size: 0.78rem;
}
.video-desc.more {
  display: flex;
  flex-direction: column;
}
.video-desc.hide {
  display: flex;
  flex-direction: row;
}
.readMore-hide {
  background: transparent;
  border: none;
  color: #3a99e9;
  margin-left: 5px;
  cursor: pointer;
}
.readMore-show {
  background: transparent;
  border: none;
  text-align: left;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.bottom-border {
  width: 100%;
  border: 1px solid #303030;
}
.comment-section {
  margin-top: 15px;
}
.comment-counter {
  font-size: 1rem;
  color: #fff;
}
.comment-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #292929;
}
.private-comment {
  margin: 15px 0;
  display: flex;
  gap: 10px;
}
.private-textarea {
  resize: none;
  overflow: hidden;
  min-height: 20px;
  padding: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
  align-self: center;
  height: 20px;
}
.public-comment-container {
  margin: 15px 0;
}
.public-comment {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
.comment-info-top {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #fff;
}
.comment-timeline {
  font-weight: 400;
  font-size: 0.65rem;
  margin-left: 5px;
  color: #858585;
}
.comment-info-bottom {
  color: #fff;
  font-size: 0.8rem;
  margin-top: 5px;
}
@keyframes openSidebar {
  0% {
    transform: translateX(-270px);
  }
  100% {
    transform: translateX(0px);
  }
}
